.tarjeta{
    background-color: beige;
    border: solid;
    max-width: 250px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px lightgray;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.tarjeta-img{
    width: 100%;
    border-radius: 15px;
}
